eureka:
  instance:
    hostname: bankati-config-server.onrender.com
  client:
    service-url:
      defaultZone: https://bankati-discovery.onrender.com/eureka

spring:
  cloud:
    config:
      override-system-properties: false

management:
  tracing:
    sampling:
      probability: 1.0